/* Remember to use comments to section your styles. Comments provide a great way to be organized and
help you to remember what you have done in the past */
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy/Gilroy-Extrabold.otf");
    font-weight:800 ;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy/Gilroy-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy/Gilroy-Semibold.otf");
    font-weight: 600;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy/Gilroy-Medium.otf");
    font-weight: 500;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy/Gilroy-Regular.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy/Gilroy-Light.otf");
    font-weight: 200;
}
:root {
    --white: #FFFF;
    --mon-yellow: #FCEED5;
    --blue: #003459;
    --dark-blue: #002A48;
    --black: #00171F;
    --grey: #667479;
    --body-regular-color: #242B33;

    --body-medium: 500 1rem/1.5rem "Gilroy";
    --body-medium-bold: 700 1rem/1.5rem "Gilroy";
    --body-regular-light: 200 1rem/1.5rem "Gilroy";

    --h1-extra-bold: 800 3.75rem/4.25rem "Gilroy";
    --h2-bold: 700 2.85rem "Gilroy";
    --h3-bold: 600 1.5rem/2.5rem "Gilroy";
}

/***** BASE STYLES *****/
/* Base styles mean: general rules for your website to have correct style */

/* 1. 
    this provides to every element a margin and a padding of zero so that we can control our elements more 
*/
* {
    margin: 0;
    padding: 0;

    /* This property is used to tell the browser that for any specific widths I provide in my design,
    any padding or border should also be accounted for the final width.
    Example. (WITHOUT box-sizing: border-box: --card: width: 400px, padding, 20px, border 2px = width 444px 
    Example. (WITH box-sizing: border-box: --card: width: 400px, padding, 20px, border 2px = width 400px */
    box-sizing: border-box;
}

body {
    /* Rememeber to set your base styles here:
        - color
        - base font 
        - etc.
        */
    font-family: 'Giliory' , sans-serif;
    color: var(--dark-blue);
}

button {
    /* any style particular styles you can think of that might apply to all buttons later on? */
    border-radius: 23px;
    border-color: var(--dark-blue);
    font: var(--body-regular-light);
    
}

/* This is a good example for a "base style".
     99% of the time, we do not want the bullet points that come by default with <li> elements
*/
li {
    list-style-type: none;
}
.welcomepage{
    background-color: var(--mon-yellow);
}
/***** NAVBAR *****/
.navbar{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    background-color: var(--mon-yellow);

    /*用着两个让他们同样靠边*/
    justify-content: space-between;
    padding: 3.125rem 6.25rem;
}
.navbar__list{
    /* display: inline; */
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
.navbar__list-item{
    /* display: inline-block; */
    color: var(--blue);

    font: var(--body-medium);
    font-weight: 600;
    /*margin-top: 1.2rem;*/
}
.navbar__logo-container{
    /* display: inline-block; */
    padding: 10px 15px;
    margin-top: 0.3rem;
    margin-right: 2.5rem;
}
.navbar__searchbar{
    background-color: var(--white);
    color: var(--grey);
    font: var(--body-regular-light);
    /* padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 10px; */
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
    margin-left: 2rem;
    display: flex;
    border-radius: 23px;
}
#navbar__searchbar-icon{
    width: 25px;
    margin-left: 0.5rem;
    filter: contrast(0%);
    padding-top: 7px;
}
#navbar__searchbar-text{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 10px;
}
.navbar__register{
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
    display: flex;
    border-radius: 23px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar__register-button{
    background-color: var(--blue);
    padding: 10px 20px;
    color: var(--white);
}
.navbar__language-options{
    margin-left: 1.5rem;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__drop-down-sign{
    margin-top: 5px;
}
/***** HEADPAGE *****/
.headpage{
    display: flex;
    justify-content: space-between;
    padding: 3.125rem 6.25rem;
}
.headpage__title{
    font: var(--h1-extra-bold);
}
.headpage__title-sub{
    font: var(--h2-bold);
    margin-bottom: 1.5rem;
}
.headpage__left{
    margin-top: 3rem;
    max-width: 35%;
    margin-right: 20rem;
    line-height: 2rem;
}
.headpage_-paragraph{
    font: var(--body-medium-bold);
}
.headpage__button{
    font: var(--h3-bold);
    margin-top: 3rem;
    padding: 10px;
}
.headpage__1{
    display: flex;

}
.headpage__left-button1{
    color: var(--dark-blue);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.headpage__left-button2{
    margin-left: 1.5rem;
    color: var(--white);
    background-color: var(--dark-blue);
}
#headpage__left-buttonPic{
    margin-left: 5px;
    margin-top: 5px;
}
/***** ADVERTISEMENT *****/
.advertisement{
    display: flex;
    justify-content: space-between;
    padding: 3.125rem 6.25rem;
}
.advertisement__left{
    background-color: var(--dark-blue);
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    min-width: 50%;
}
.advertisement__left-picture{
    padding-bottom: 3rem;
}
.advertisement__right{
    background-color: var(--mon-yellow);
    text-align: right;
    padding-top: 3rem;
    padding-right: 5rem;
    padding-left: 5rem;
    min-width: 50%;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
}
.advertisement__right-title{
    font: var(--h1-extra-bold);
}
.advertisement__right-sub{
    font: var(--h2-bold);
    margin-bottom: 1.5rem;
}
.advertisement__button{
    font: var(--h3-bold);
    margin-top: 3rem;
    padding: 10px;

}
.advertisement__right-button{
    display: flex;
    justify-content: end;


}
.advertisement__left-button1{
    color: var(--dark-blue);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.advertisement__left-button2{
    margin-left: 1.5rem;
    color: var(--white);
    background-color: var(--dark-blue);
}
#advertisement__left-buttonPic{
    margin-left: 5px;
    margin-top: 5px;
}


/***** PETS *****/
.pets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.125rem 6.25rem;
    background-color: var(--white);
}
.pets__header,.knowledge__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.125rem;
}
.pets__title,.knowledge__title{
    font: var(--body-regular-light);
}
.pets__more-buttons,.knowledge__more-buttons{
    display: flex;
    align-items: center;
    padding: 1.25rem 2.25rem;
    background-color: var(--white);
    border-radius: 3.125rem;
    border: 0.125rem solid var(--dark-blue);
    color: var(--dark-blue);
}
.pets__card-frame,.knowledge__card-frame{
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    justify-content: center;
}
.pets__card{
    /*background-color: pink;*/
    border-radius: 0.625rem;
    padding: 0.625rem 0.625rem 1.625rem 0.625rem;
    line-height: 1.875rem;
    box-shadow:0.125rem 0.125rem 0.625rem var(--grey);
}
.pets__img{
    width: 23.8rem;
}
.pets__gender-and-age{
    color: var(--grey);
}
/***** SPONSER *****/
.sponser{
    padding: 3.125rem 6.25rem;
    
}
.sponser__navibar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sponser__navibar-text{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
}
.sponser__paragraph{
    color: var(--black);
}
.sponser__paragraph-sub{
    font: var(--h3-bold);
}
.sponser__button{
    display: flex;
    align-items: center;
    padding: 0.5rem 1.3rem;
    background-color: var(--white);
}
.sponser__list{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
/***** ADOPTION *****/
.adoption{
    display: flex;
    justify-content: space-between;
    padding: 3.125rem 6.25rem;
    
}
.adoption__right{
    background-color: #FEB775;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    min-width: 50%;
}
.adoption__right-picture{
    padding-bottom: 3rem;
}
.adoption__left{
    padding-top: 3rem;
    padding-right: 5rem;
    padding-left: 5rem;
    min-width: 50%;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    background-color: #FEB775;
}
.adoption__left-title{
    font: var(--h1-extra-bold);
}
.adoption__left-sub{
    font: var(--h2-bold);
    margin-bottom: 1.5rem;
}
.adoption__button{
    font: var(--h3-bold);
    margin-top: 3rem;
    padding: 10px;

}
.adoption__left-button{
    display: flex;
}
.adoption__left-button1{
    color: var(--dark-blue);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.adoption__left-button2{
    margin-left: 1.5rem;
    color: var(--white);
    background-color: var(--dark-blue);
}
#adoption__left-buttonPic{
    margin-left: 5px;
    margin-top: 5px;
}

/***** KNOWLEDGE *****/

.knowledge{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.125rem 6.25rem;
    background-color: var(--white);
}
.knowledge__card{
    /*background-color: pink;*/
    border-radius: 0.625rem;
    padding: 0.625rem 0.625rem 1.625rem 0.625rem;
    line-height: 1.875rem;
    box-shadow:0.125rem 0.125rem 0.625rem var(--grey);
    max-width: 26rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: flex-start;
}
.knowledge__img{
    border-radius: 10px;
    width: 100%;
}
.knowledge__gender-and-age{
    font: var(--body-regular-light);
}
.knowledge__button{
    background-color:#01A6E6;
    border: none;
    color: var(--white);
    padding: 0.5rem 1rem;
    font: var(--body-medium);
}

/***** FOOTER *****/
.footer{
    background-color: var(--mon-yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top-left-radius: 23px;
    border-top-right-radius: 23px;
    gap: 30px;
    padding: 50px;
}
.footer__blue-frame{
    background-color: var(--blue);
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    gap: 25px;
    color:var(--white);
    border-radius:10px;
}
.footer__white-word{
    max-width: 250px;
}
.footer__white-frame{
    background-color: var(--white);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.footer__input-box{
    border: 1px solid var(--grey);
    margin: 10px;
    border-radius: 4px;
    color: var(--grey);
    padding: 5px 300px 5px 10px;
}
.footer__blue-button{
    background-color: var(--blue);
    color: var(--white);
    border-radius: 5px;
    padding: 5px;
}
.footer__nav{
    display: flex;
    justify-content: space-between;
}
.footer__nav-left{
    display: flex;
    gap: 80px;
}
.footer__nav-right{
    display: flex;
    gap: 20px;
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__bottom-right{
    display: flex;
    gap: 40px;
}
