/* Remember to use comments to section your styles. Comments provide a great way to be organized and
help you to remember what you have done in the past */
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy/Gilroy-Extrabold.otf");
    font-weight:800 ;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy/Gilroy-Bold.otf");
    font-weight: 700;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy/Gilroy-Semibold.otf");
    font-weight: 600;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy/Gilroy-Medium.otf");
    font-weight: 500;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy/Gilroy-Regular.otf");
    font-weight: 300;
}
@font-face {
    font-family: "Gilroy";
    src: url("../fonts/Gilroy/Gilroy-Light.otf");
    font-weight: 200;
}
:root {
    --white: #FFFF;
    --mon-yellow: #FCEED5;
    --blue: #003459;
    --dark-blue: #002A48;
    --black: #00171F;
    --grey: #667479;
    --body-regular-color: #242B33;

    --body-medium: 500 1rem/1.5rem "Gilroy";
    --body-medium-bold: 700 1rem/1.5rem "Gilroy";
    --body-regular-light: 200 1rem/1.5rem "Gilroy";

    --h1-extra-bold: 800 3.75rem/4.25rem "Gilroy";
    --h2-bold: 700 2.85rem "Gilroy";
    --h3-bold: 600 1.5rem/2.5rem "Gilroy";
}

/***** BASE STYLES *****/
/* Base styles mean: general rules for your website to have correct style */

/* 1. 
    this provides to every element a margin and a padding of zero so that we can control our elements more 
*/
* {
    margin: 0;
    padding: 0;

    /* This property is used to tell the browser that for any specific widths I provide in my design,
    any padding or border should also be accounted for the final width.
    Example. (WITHOUT box-sizing: border-box: --card: width: 400px, padding, 20px, border 2px = width 444px 
    Example. (WITH box-sizing: border-box: --card: width: 400px, padding, 20px, border 2px = width 400px */
    box-sizing: border-box;
}

body {
    /* Rememeber to set your base styles here:
        - color
        - base font 
        - etc.
        */
    font-family: 'Giliory' , sans-serif;
    color: var(--dark-blue);
}

button {
    /* any style particular styles you can think of that might apply to all buttons later on? */
    border-radius: 23px;
    border-color: var(--dark-blue);
    font: var(--body-regular-light);
    
}

/* This is a good example for a "base style".
     99% of the time, we do not want the bullet points that come by default with <li> elements
*/
li {
    list-style-type: none;
}
.welcomepage{
    background-color: var(--mon-yellow);
}
/***** NAVBAR *****/
.navbar{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
    background-color: var(--mon-yellow);

    /*用着两个让他们同样靠边*/
    justify-content: space-between;
    padding: 3.125rem 6.25rem;
}
.navbar__list{
    /* display: inline; */
    display: flex;
    align-items: center;
    gap: 3.5rem;
}
.navbar__list-item{
    /* display: inline-block; */
    color: var(--blue);

    font: var(--body-medium);
    font-weight: 600;
    /*margin-top: 1.2rem;*/
}
.navbar__logo-container{
    /* display: inline-block; */
    padding: 10px 15px;
    margin-top: 0.3rem;
    margin-right: 2.5rem;
}
.navbar__searchbar{
    background-color: var(--white);
    color: var(--grey);
    font: var(--body-regular-light);
    /* padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 10px; */
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
    margin-left: 2rem;
    display: flex;
    border-radius: 23px;
}
#navbar__searchbar-icon{
    width: 25px;
    margin-left: 0.5rem;
    filter: contrast(0%);
    padding-top: 7px;
}
#navbar__searchbar-text{
    padding-top: 15px;
    padding-bottom: 10px;
    padding-right: 80px;
    padding-left: 10px;
}
.navbar__register{
    margin-left: 1.5rem;
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
    display: flex;
    border-radius: 23px;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navbar__register-button{
    background-color: var(--blue);
    padding: 10px 20px;
    color: var(--white);
}
.navbar__language-options{
    margin-left: 1.5rem;
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__drop-down-sign{
    margin-top: 5px;
}
/***** HEADPAGE *****/
.headpage{
    display: flex;
    justify-content: center;
}
.headpage__title{
    font: var(--h1-extra-bold);
}
.headpage__title-sub{
    font: var(--h2-bold);
    margin-bottom: 1.5rem;
}
.headpage__left{
    margin-top: 3rem;
    max-width: 28%;
    margin-right: 20rem;
    line-height: 2rem;
}
.headpage_-paragraph{
    font: var(--body-medium-bold);
}
.headpage__button{
    font: var(--h3-bold);
    margin-top: 3rem;
    padding: 10px;
}
.headpage__1{
    display: flex;

}
.headpage__left-button1{
    color: var(--dark-blue);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.headpage__left-button2{
    margin-left: 1.5rem;
    color: var(--white);
    background-color: var(--dark-blue);
}
#headpage__left-buttonPic{
    margin-left: 5px;
    margin-top: 5px;
}
/***** ADVERTISEMENT *****/
.advertisement{
    display: flex;
    justify-content: center;
}
.advertisement__left{
    background-color: var(--dark-blue);
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    min-width: 33%;
}
.advertisement__right{
    background-color: var(--mon-yellow);
    text-align: right;
    padding: 3rem 5rem;
    min-width: 35%;
}
.advertisement__right-title{
    font: var(--h1-extra-bold);
}
.advertisement__right-sub{
    font: var(--h2-bold);
    margin-bottom: 1.5rem;
}
.advertisement__button{
    font: var(--h3-bold);
    margin-top: 3rem;
    padding: 10px;

}
.advertisement__right-button{
    display: flex;
    justify-content: end;
    

}
.advertisement__left-button1{
    color: var(--dark-blue);
    background-color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
}
.advertisement__left-button2{
    margin-left: 1.5rem;
    color: var(--white);
    background-color: var(--dark-blue);
}
#advertisement__left-buttonPic{
    margin-left: 5px;
    margin-top: 5px;
}



.pets{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3.125rem 6.25rem;
    background-color: var(--white);
}
.pets__header{
    display: flex;
    justify-content: space-between;
    padding-bottom: 3.125rem;
}
.pets__title{
    font: var(--body-regular-light);
}
.pets__more-buttons{
    display: flex;
    align-items: center;
    padding: 1.25rem;
    background-color: var(--white);
}
.pets__card-box{
    display: flex;
    flex-wrap: wrap;
    gap: 1.875rem;
    justify-content: center;
}
.pets__card{
    /*background-color: pink;*/
    border-radius: 0.625rem;
    padding: 0.625rem 0.625rem 1.625rem 0.625rem;
    line-height: 30px;
    box-shadow:2px 2px 4px #000000;
}
.pets__img{
    width: 320px;
}
.pets__gender-and-age{
    color: var(--grey);
}